
{% extends 'feedback_base.html' %}

{% block body %}
        <div align="right">
         <a href="{% url 'feedback:download' %}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-download-alt"></span> Download
        </a>
            </div>


 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">comment</th>
    </tr>
  </thead>
  <tbody>

{%  for comment in comments  %}
    <tr>
      <td class="counterCell"></td>
      <td>{{ comment.manager.name }}</td>
      <td class="col-md-2">{{ comment.date_posted | date:'Y-m-d H:i'}}</td>
      <td>{{ comment.comment }}</td>
    </tr>
     {% endfor %}
  </tbody>

</table>

{% endblock %}
